body{
    background: #e8e8e8;
    margin: 0px auto;
}

.ferramentas{
    width: 100%;
    background: white;
    border-bottom: 2px solid #333;
}

.ferramentas-lista{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.ferramentas-item{
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    float: left;
}

.workspace{
    text-align: center;
    padding: 20px;
}

.workspace #container{
    background: url("/images/bkg_pixel.jpg") repeat;
    border: 1px solid #CECECE;
}

.clearfloat{
  clear:both;
}

/* CURSOR */
.crosshair {
  cursor: url("../images/cursor/crosshair.png") 6 6,crosshair;
}

.move{
  cursor: move;
}
